#
# Copyright (c) Contributors to the Open 3D Engine Project.
# For complete copyright and license terms please see the LICENSE at the root of this distribution.
#
# SPDX-License-Identifier: Apache-2.0 OR MIT
#
#

# This is a config template.
# Replace the values of each entry and remove ; before use.
[default]
aws-profile= default
region = us-west-2
bucket = ly-fork-s3sis-test
project = o3de
thread-pool-size = 32
